html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Georgia, Tahoma, sans-serif;
}

.clearfix {
    clear: both;
}

.navbar {
    background: rgb(18, 41, 59);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
}

.navbar .navbar-inner {
    padding: 10px 50px;
}

.nav-logo {
    width: 100px;
}

.logo-area {
    float: left;
}

.menu-area {
    float: right;
}

.menu-area ul {
    list-style: none;
}


.menu-area ul li {
    display: inline;
    text-align: center;
    margin: 5px;
}


.menu-area ul li a {
    /* color: #000; */
    /* padding: 10px 20px 10px 20px; */
    /* text-decoration: none; */
    /* background: #fff; */
    border: 1px solid #000;
}

.menu-area ul li a.active {
    border-bottom: 2px solid red;
}

.btn-project {
    position: relative;
}

.btn-project .counting {
	position: absolute;
    right: -4px;
    top: -5px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    color: #fff;
}

.top-section {
    background-image: url(banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}

.header-texts {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0px;
    text-align: center;
    color: #fff;
}

.header-texts h2 {
    font-family: Tahoma, sans-serif;
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
}

.header-texts p {
    font-size: 2em;
}

.header-social a {
    margin-right: 5px;
    font-size: .8rem;
    color: #fff;
    border-radius: 20px;
}

.header-social a.facebook {
    background-color: #0980ec;
    /* color: #fff; */
}

.header-social a.twitter {
    background-color: #1b91e1;
    /* color: #fff; */
}

.header-social a.youtube {
    background-color: red;
    /* color: #fff; */
}

.btn-signup {
    /* background-color: #fff;
    padding: 10px 30px;
    color: #000;
    text-decoration: none; */
}

.content {
    padding: 2rem;
}

/* Button Style */
.btn {
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
}
/* Button Style */