/****************************************/
/*          Content SCSS
/****************************************/

.content {
    background-color: $color-white;
    color: $color-black;
    padding: $p-lg;
}
