/****************************************/
/*          Variables SCSS
/****************************************/
$bg-color: rgb(4, 114, 162);
$bg-color-dark: rgb(6, 93, 130);
$color-white: #fff;
$color-black: #000;

$p-sm: 12px;
$p-md: 20px;
$p-lg: 40px;