
$font-size: 25px;

body {
    font-size: $font-size;
}

.navbar {
    .btn {
        font-size: $font-size;
        padding: 10px;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }
}
